.modal {
  background: rgba(0,0,0,.85);
  .modal-dialog {
    margin-top: 80px;
    .modal-content {
      background: $color-grey-dark;
      color: $color-white;
      text-align: center;
      div {
        border: none;
      }
      .modal-title {
        margin: 0 auto;
      }
      .close {
        cursor: pointer;
        color: $color-white;
      }
    }
  }

}
